<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create your account</title>
   <style>
       .error {
           color: red;
       }
   </style>
</head>
<body>
<h1>Create your account</h1>
<div id="errors">
    {{range .Errors}}
    <p class="error"> {{ . }}</p>
    {{end}}
</div>
<form action="/user/signup/" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" value="{{.Username}}"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" value="{{.Email}}"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="confirm-password">Confirm password:</label><br>
    <input type="password" id="confirm-password" name="confirm-password"><br>
    <input type="submit" value="Sign up">
</form>
<div>
    <a href="/">cancel</a>
</div>
</body>
</html>