{{define "title"}}Add Point of Interest to{{end}}
{{define "body"}}
<div class="columns">
    <div class="column ">
        <article class="message is-danger" id="errors">

            {{range .Errors}}
            <p class="message-body"> {{ . }}</p>
            {{end}}
        </article>
        <form class="form" action="/guide/{{.GuideID}}/poi/create" method="post">
            <fieldset>
                <legend>POI Values</legend>
                <input type="hidden" name="gid" value="{{.GuideID}}">
                <div class="field">
                    <label class="label" for="name">Name:</label>
                    <div class="control">
                        <input class="input" type="text" id="name" name="name" value="{{.Name}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="description">Description:</label>
                    <div class="control">
                <textarea class="textarea is-primary" id="description"
                          name="description">{{.Description}}</textarea>
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="latitude">Latitude:</label>
                    <div class="control">
                        <input class="input" type="text" id="latitude" name="latitude" value="{{.Latitude}}">
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="longitude">Longitude:</label>
                    <div class="control">
                        <input class="input" type="text" id="longitude" name="longitude" value="{{.Longitude}}">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button">Create</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div>
            <a href="/guide/{{.GuideID}}">cancel</a>
        </div>
    </div>
</div>
{{end}}