{{define "title"}}{{.Name}}{{end}}

{{define "mapscript"}}
<!-- ---------------------------->
<!--TODO template this script-->
<!-- ---------------------------->
<script>
    let map = L.map('map').setView([{{.Coordinate.Latitude}}, {{.Coordinate.Longitude}}], 15);

    let tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    let pois = {{.Pois}}
    pois.forEach( function (poi) {
        let marker = L.marker([poi.Coordinate.Latitude,poi.Coordinate.Longitude]).addTo(map);
        marker.bindPopup(poi.Name + " TBD description")
    })
</script>
{{end}}

{{define "body"}}
<a class="button medium" href="/guide/{{.Id}}/edit">Edit</a>
<button id="delete-btn" class="button is-danger medium" hx-delete="/guide/{{.Id}}" hx-target="body" hx-push-url="true"
        hx-confirm="Are you sure you want to delete this guide?">
    Delete Guide
</button>
<p class="content"> {{.Description}}</p>
<div id="map" style="width: 600px; height: 400px;">
    {{template "mapscript" .}}
</div>
<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    {{range .Pois}}
    <tr>
        <td> {{.Name}}</td>
        <td>{{.Description}}</td>
        <td>
            <a href="#">Edit</a>
            <a href="#" hx-delete="/guide/{{.GuideID}}/poi/{{.Id}}" hx-swap="outerHTML swap:1s" hx-confirm="Are you sure you want to delete this poi?" hx-target="closest tr">Delete</a>
        </td>
    </tr>
    {{end}}
    </tbody>
</table>
<div>
    <a href="/guide/poi/create/{{.Id}}"> Add Poi</a>
    <a href="/guides">back</a>
</div>
</body>
</html>
{{end}}