{{define "title"}}{{.Name}}{{end}}

{{define "body"}}
<a class="button medium" href="/guide/{{.Id}}/edit">Edit</a>
<button id="delete-btn" class="button is-danger medium" hx-delete="/guide/{{.Id}}" hx-target="body" hx-push-url="true"
        hx-confirm="Are you sure you want to delete this guide?">
    Delete Guide
</button>
<p class="content"> {{.Description}}</p>
<p class="content">Lat: {{.Coordinate.Latitude}}, Lon:{{.Coordinate.Longitude}}</p>
<div id="map" style="width: 600px; height: 400px;">
</div>
    {{template "poiRows.html" .Pois}}
    {{template "mapScript.html" . }}
<p>
    <a class="button" href="#" hx-get="/guide/{{.Id}}/poi/create" hx-target="#poi-focus">Add Poi</a>
    <a href="/guides">back</a>
</p>
{{end}}