<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>City Guide</title>

    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        table, th, td {
            width: 90%;
            border: 0.5px solid black;
            table-layout: auto;
            white-space: nowrap;
        }

    </style>
</head>
<body>
    <div id="title"><h1>City Guide</h1></div>
    <table id="guideList">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        {{range .}}
        <tr>
            <td><a href="/guide/{{.Id}}">{{.Name}}</td>
            <td>{{.Description}}</td>
        </tr>
        {{end}}
        </ul>
    </table>
    <div>
        <a href="/guide/create">Create New Guide</a>
    </div>
</body>
</html>