{{define "title"}}All guides{{end}}
{{define "body"}}
<div>
    <label class="label" for="search">Search Guides:</label>
<!--    <span class="htmx-indicator">-->
<!--    <img src="/img/bars.svg"/> Searching...-->
<!--   </span>-->
    <input id="search" class="input" type="search"
           name="q" placeholder="Begin Typing To Search Contacts..."
           hx-get="/guides"
           hx-trigger="keyup changed delay:500ms, search"
           hx-target="#search-results">

</div>

<table id="guideList" class="table is-bordered is-hoverable">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th></th>
    </tr>
    </thead>
    <tbody id="search-results">
        {{template "rows.html" .}}
    </tbody>
</table>
<p class="content">
    <a class="button" href="/guide/create">Create New Guide</a>
    <em class="content" hx-get="/guide/count" hx-trigger="load" ></em>
</p>
{{end}}